<div>
  <div class="mat-side-app" fxHide.gt-xs="true" fxShow="true">
    <div *ngIf="!messagesIsEmpty">
    <mat-list *ngIf="!_showMessage" fxHide.gt-xs="true">
      <mat-list-item *ngFor="let message of _messages;" (click)="showMessage(message.id)">
        <h3 matLine> {{message.nome | ellipsis: 40}} </h3>
        <p matLine>{{message.createAt | date:'dd/MM/yyyy HH:mm:ss'}}</p>
      </mat-list-item>
    </mat-list>
    <div fxShow="true" fxHide.gt-sm="true" *ngIf="_showMessage">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <button mat-icon-button (click)="hideMessage()">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
      </div>
      <mat-card>
          <mat-card-title>
            {{message.nome}}
          </mat-card-title>
          <mat-card-subtitle>
              <p matLine line-height>Criado em: {{message.createAt | date:'dd/MM/yyyy HH:mm:ss'}}</p>
              <p matLine line-height>Assunto: {{message.assunto}}</p>

          </mat-card-subtitle>
          <mat-card-content>
            {{message.message}}
          </mat-card-content>
        </mat-card>
        <div style="padding: 1%; display: flex; flex-direction: row-reverse; ">
          <button (click)="_removeMessage()" mat-raised-button color="warn">Excluir</button>
        </div>
      </div>
    </div>
    <div *ngIf="messagesIsEmpty" style="margin: 10%;padding: 10px ">
        <p style="text-align: center;">Não há mensagems para serem exibidas. Tente cadastrar novas mensagens</p>
      </div>
  </div>
  <div fxLayout="row" ngxSplit="row" fxHide.lt-sm="true" fxShow="true">
    <div fxFlex="40%" ngxSplitArea>
      <div *ngIf="!messagesIsEmpty">
        <mat-list style="margin: 10%;">
          <mat-list-item *ngFor="let message of _messages;" (click)="showMessage(message.id)">
            <h3 matLine> {{message.assunto | ellipsis: 40}} </h3>
            <p matLine>{{message.createAt | date:'dd/MM/yyyy'}}</p>
          </mat-list-item>
        </mat-list>
      </div>
      <div *ngIf="messagesIsEmpty" style="width: 50%; margin: 50% 0; padding: 5px;">
        <p style="text-align: center;">Não há mensagems para serem exibidas. Tente cadastrar novas mensagens</p>
      </div>
    </div>
    <div fxFlex="60%" ngxSplitArea>
      <div *ngIf="!messagesIsEmpty && _showMessage">
      <div style="margin: 10%;">
          <mat-card>
              <mat-card-title>
                {{message.nome}}
              </mat-card-title>
              <mat-card-subtitle>
                  <p matLine line-height>Criado em: {{message.createAt | date:'dd/MM/yyyy HH:mm:ss'}}</p>
                  <p matLine line-height>Assunto: {{message.assunto}}</p>
    
              </mat-card-subtitle>
              <mat-card-content>
                {{message.message}}
              </mat-card-content>
            </mat-card>
        <div style="padding: 1%; display: flex; flex-direction: row-reverse; ">
          <button (click)="_removeMessage()" mat-raised-button color="warn">Excluir</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>